* {
    box-sizing: border-box;
}

.analyzer {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 560px;
}

.table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.table__row {
    text-align: left;
    background-color: #eee;
}

.table__row:nth-child(even) {
    background-color: #ccc;
}

.table__cell {
    border: 1px solid #aaa;
    padding: 8px;
}

.table__cell--error {
    background-color: #d77;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.btn {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: block;
}

.btn--update {
    border: 1px solid #3a98cd;
    border-radius: 6px;
    padding: 6px 15px;
    background: #3a98cd;
    color: #fff;
    margin-top: 4px;
    transition: background-color .3s ease, color .3s ease;
    float: right;
}

.btn--update:hover {
    background: #fff;
    color: #3a98cd;
}