body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 1em;
    min-height: 100vh;
    background-image: url('/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}